<div class="project__banner">
  <div class="site-header__offset"></div>
  <div class="project__banner-wrap">
    <div class="container vpad--xxxl">
      <div class="container--md">

        {% if page.banner.title-sup %}<span class="text--mono text--xxl">{{page.banner.title-sup}}</span>{% endif %}
        <h1 class="title title--xxxl title--bold vpad--xxs">{% if page.banner.title %}{{page.banner.title}}{% else %}{{page.title}}{% endif %}</h1>
        {% if page.banner.title-sub %}<span class="text--mono text--xxl">{{page.banner.title-sub}}</span>{% endif %}

        <div class="space--lg"></div>
        <hr class="hr--left">
        <div class="space--lg"></div>

        <span class="text--mono text--xl">Project details</span>
        <ul class="list--lined">
          <li>
            <span class="title title--bold text--upper">Client</span><br />
            <span class="text--mono">{{page.details.client}}</span>
          </li>
          <li>
            <span class="title title--bold text--upper">Scope</span><br />
            <span class="text--mono">{{page.details.scope}}</span>
          </li>
          <li>
            <span class="title title--bold text--upper">Date</span><br />
            <span class="text--mono">{{page.details.date | date: '%B %d, %Y'}}</span>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>