---
layout: default
id: home
nav: true
nav-order: 1
title: Home
colour: 273338
theme: dark

banner:
  content: >
    <p class="t t--600">HAMISH GRAY</p>
    <p class="p--sm p--mono">
      Digital Designer, Frontend Developer<br />
      hamishjgray@gmail.com<br />
      07449 736830<br />
      London, United Kingdom
    </p>
    <hr class="hr--left">
    <p class="p--lg">Hi, I'm Hamish!</p>
    <p class="p--lg">I've learnt that great design is about creating logical systems to solve problems with elegant, timeless solutions. What drives me is being able to collaborate with interesting people to create solutions that satisfy their business and users goals, and make their dreams reality.</p>

---

{% assign projects = site.html_pages | where:"layout","project" | sort:"group-order" %}


<div class="container">
  <div class="row">
    {% for project in projects %}
    <div class="col--4  vpad--xs">
      <a href="{{project.url}}" class="project-tile img img--1-1" style="background-image: url({{site.img}}/projects/{{project.id}}/thumb.jpg);">
        <div class="project-tile__content">
          <h4 class="t t5 t--600">{{project.title}}</h4>
          <p class="p--mono p--sm">{{project.details.scope}}</p>
        </div>
        <div class="bg-img__bg-overlay"></div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>


<div class="container vpad--xxl">
  <div class="t t2 text--center">Posts</div>
  <div class="row">
    {% for post in site.posts %}
    <div class="col--4 vpad--xs">
      <div class="boxpad--sm bg--grey-darkest">
        <a href="{{post.url}}"><h4 class="t t5 t--600">{{post.title}}</h4></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<a class="js-open-modal" data-modal-item="test-modal-1" href="javascript:void(0);">modal</a>