
/*========================================
 *  Core grid styles with most of the config
 *========================================*/

.container {
  // default style
  width: 100%;
  max-width: $xxxl;
  margin-left: auto;
  margin-right: auto;
  @include page-padding;
  // widths
  &--fluid { max-width: 100%; }
  &--xxl   { max-width: $xxl; }
  &--xl    { max-width: $xl; }
  &--lg    { max-width: $lg; }
  &--md    { max-width: $md; }
  &--sm    { max-width: $sm; }
  // alignment
  &--left  { margin-left: 0; margin-right: auto; }
  &--right { margin-left: auto; margin-right: 0; }
}

.row {
  // default values
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  // row modifiers
  &--justify       { justify-content: space-between; }
  &--center        { justify-content: center; }
  &--valign-bottom { align-items: flex-end; }
  &--valign-center { align-items: center; }
  // gutters
  $gutter-size: $s4;
  $gutter-size-bp: $s2;
  margin-left: -$gutter-size-bp;
  margin-right: -$gutter-size-bp;
  @include bp($md) {
    margin-left: -$gutter-size;
    margin-right: -$gutter-size;
  }
}

.col {
  flex: 1 1 100%;
  @include column-padding;

  // align single column
  &--top    { align-self: flex-start; }
  &--middle { align-self: center; }
  &--bottom { align-self: flex-end; }
  // auto size
  &--auto { flex: 1 1 auto; }
  // equal column sizes for all columns in row
  @mixin column-widths() {
    &1   { flex: 0 0 8.33%; max-width: 8.33%; @include column-padding; }
    &2   { flex: 0 0 16.667%; max-width: 16.667%; @include column-padding; }
    &3   { flex: 0 0 25%; max-width: 25%; @include column-padding; }
    &4   { flex: 0 0 33.33%; max-width: 33.33%; @include column-padding; }
    &5   { flex: 0 0 40%; max-width: 40%; @include column-padding; }
    &6   { flex: 0 0 50%; max-width: 50%; @include column-padding; }
    &7   { flex: 0 0 60%; max-width: 60%; @include column-padding; }
    &8   { flex: 0 0 66.66%; max-width: 66.66%; @include column-padding; }
    &9   { flex: 0 0 75%; max-width: 75%; @include column-padding; }
    &10  { flex: 0 0 83.33%; max-width: 83.33%; @include column-padding; }
    &11  { flex: 0 0 91.667%; max-width: 91.667%; @include column-padding; }
    &12  { flex: 0 0 100%; max-width: 100%; @include column-padding; }
  }
  // default breakpoint for col widths
  @include bp($lg) { &-- { @include column-widths; } }
  // columns with other breakpoints
  @include bp($sm)   { &--sm- { @include column-widths; } }
  @include bp($md)   { &--md- { @include column-widths; } }
  @include bp($lg)   { &--lg- { @include column-widths; } }
  @include bp($xl)   { &--xl- { @include column-widths; } }
  @include bp($xxl)  { &--xxl- { @include column-widths; } }
  @include bp($xxxl) { &--xxxl- { @include column-widths; } }
}
