
/*========================================
 *  Text classes and styles
 *  [general modifier styles for text]
 *========================================*/

.p {
  font-weight: 400;
  &--lg  { font-size: $s2; }
  &--nm  { font-size: $s1; }
  &--sm  { font-size: $s-1; }
  // families
  &--mono { font-family: $font-mono; }
  // styles
  &--italic   { font-style: italic; }
  &--200      { font-weight: 200; }
  &--300      { font-weight: 300; }
  &--400      { font-weight: 400; }
  &--500      { font-weight: 500; }
  &--600      { font-weight: 600; }
  &--kern     { letter-spacing: .15em; }
  &--upper    { text-transform: uppercase; }
}