
/*========================================
 *  Unique element based styles 
 *========================================*/

.theme {
  &--dark {
    color: $white;
  }
  &--light {
    color: $grey-dark;
  }
}

.page-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-background;
  background-color: $brand-darker;
  @include background-attributes;
}

.project-tile {
  @include transition();
  background-size: 100% auto;
  &:hover { background-size: 105% auto; }
  &__content {
    @include transition();
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
    background-color: $white;
    color: $brand-darker;
  }
  &:hover &__content {
    padding: 10px 15px;
    height: 80px;
    bottom: -40px;
  }
}


.project {
  position: relative;
  z-index: 1;
  &__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    @include background-attributes();
  }
  &__banner {
    height: 100%;
    position: relative;
    &-wrap {
      position: relative;
      z-index: 5;
      display: flex;
      width: 100%;
      height: 100%;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      padding-left: 1.44rem;
    }
  }
  &__caption {
    background-color: $grey-darkest;
    color: $white;
    padding: $s-1 $s2;
  }
}
