<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body
    {% if page.colour %} style="background-color:#{{page.colour}};"{% endif %}
    {% if page.theme %} class="theme--{{page.theme}}"{% endif %}>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% unless page.layout == 'project' %}
      {% include page/banner.html %}
      <div class="page-bg js-bg-fade" style="background-image: url('{{site.img}}/banner/{{page.id}}.jpg')"></div>
    {% endunless %}

    {{ content }}

    {% include modal/modal.html %}

    {% include page/footer.html %}

  </body>

</html>