---
layout: default
---

<div class="page-bg js-bg-fade" style="background-image: url('{{site.img}}/projects/{{page.id}}/banner.jpg')"></div>



{% include page/banner-project.html %}



<div class="project">

  <div class="container container--xxl text--center">
    {{page.description}}
  </div>


  <div class="container">
    {% for section in page.sections %}
      <div class="vpad--xxl">
        <img src="{{site.img}}/projects/{{page.id}}/{{section.image}}">
        {% if section.caption %}
          <div class="project__caption">{{section.caption}}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

</div>